* {padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

header{
    
    background-color: rgb(42, 42, 213);
    width: 100%;
    position: sticky;
    top: 0;
}

main{
    font-family: "Figtree", sans-serif;
    background-color: rgb(247, 238, 238);
}

.fixed a{
position: fixed;
right: 20px;
bottom: 20px;
}

.titulo{
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    
}
.titulo img {
width: 100px;
border-radius: 40px;
}
.titulo h2{
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-family: "Figtree", sans-serif;
    
}
header h1{
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-family: "Figtree", sans-serif;
}


.tituloSecundario{
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    color: red;
    font-family: "Figtree", sans-serif;
}


.barraNavegacion{
    text-transform: uppercase;
    text-align: center;
    color: red;
    font-family: "Figtree", sans-serif;
}

.barraNavegacion{
    display: flex;
    justify-content: space-around;
    background-color: rgb(247, 238, 238);
    color: red;
    text-transform: uppercase;
    list-style: none;
    font-family: "Figtree", sans-serif;
    margin-bottom: 16px;
}


.barraNavegacion li a{
color:red;
    text-decoration: none;
}


.info{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    font-size: 1.25rem;
    font-family: "Figtree", sans-serif;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


 .infoContacto{
    width: 30%;
    align-items: center;
}

.adelantoTurnos{   
  justify-content: left;
}


 .img1{
    margin-bottom: 200px;
    width: auto;
    height: 300px;
    object-fit: contain;
}

.img-adelanto{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "img2 img2 img3 img3 img4 img4 img5 img5 img6 img6"
    "img2 img2 img3 img3 img4 img4 img5 img5 img6 img6"
    "img2 img2 img3 img3 img4 img4 img5 img5 img6 img6";
    width: 100%;
    height: 500px;
    gap: 1rem;
}

.img-adelanto img{
    width: auto;
    scroll-snap-align: center;
}
.img2{
    height: 500px;
    grid-area: img2;
    object-fit: contain;
    }


.img3{
    height: 500px;
    grid-area: img3;
    object-fit: contain;
}

.img4{
    height: 500px;
    grid-area: img4;
    object-fit: contain;
}

.img5{
    height: 500px;
    grid-area: img5;
    object-fit: contain;
}

.img6{
    height: 500px;
    grid-area: img6;
    object-fit: contain;
}

.renovaciones{
    margin: 20px;
   gap: 30px;

}
.renovaciones h3{
    text-transform: uppercase;
    color: blue;
}

.renovaciones p{
    font-size: 20px;
    margin: 30px;
    text-align: center;
}

.renovaciones li{
    font-size: 20px;
    margin: 30px;
}



.datosContacto{
    display: flex;
    justify-content: space-around;
     background-color: rgb(42, 42, 213);
    color: white;
    font-family: "Figtree", sans-serif;
}

.preguntasFrecuentes h3{
background-color: lightblue;
margin-bottom: 20px;
margin-top: 1.875rem;
font-family: "Figtree", sans-serif;
font-weight: 700;
}

.preguntasFrecuentes p{
    background-color: rgb(247, 238, 238);
    font-family: "Figtree", sans-serif;
    font-weight: 200;
}

.infoTrivia{
    font-size: 24px;
    text-transform: none;
    color: black;
}

.preguntasTrivia {
    color:rgb(32, 32, 120);
    text-transform: uppercase;
    font-family: "Figtree", sans-serif;
    margin: 20px;
    font-size: 20px;

}
h4{
    color: red;
    text-transform: capitalize;
}

.preguntasTrivia  label {
    text-transform: capitalize;
    color: black;
    font-size: 16px;
}

.enviar{
    border-color: rgba(255, 0, 0, 0.749);
    background-color:rgba(255, 0, 0, 0.749) ;
    text-transform: uppercase;
    border-width: 20px;
    border-radius: 16px;
    margin-top: 20px;
    
}
.preguntasTrivia p{
    margin-top: 16px;
    margin-bottom: 1rem;
}


.tituloIndex h2{
    
    text-align: center;
    text-decoration:underline;
    text-transform: uppercase;
    color: red;
}

.tituloIndex h3{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

.indexPrincipal{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    width: 100%;
    height: 100vh;
    background-color: rgb(247, 238, 238);
    gap: 20px;
}


.indexPrincipal img{
    width: 100%;
    border-radius: 35px;
    border-style: double;
    border-width: 10px;
    border-color: blue;
    grid-column: 1/3;
    grid-row: 1/2;
    
}


.indexPrincipal p{
    background-color:rgba(10, 15, 168, 0.664);
    text-align: center;
    border-style: double;
    border-color: blue;
    border-radius: 35px;
    font-size: 24px;
    grid-column: 3/7;
    grid-row: 1/2;
}

.indexPrincipal .infoIndex{
    grid-column: 1/7;
    grid-row: 2/3;
}

.indexPrincipal .infoIndex p{
    background-color: rgb(241, 84, 84);
    border-radius: 40px;
}

.indexPrincipal .infoIndex h3{
    margin-top: 16px;
    color: blue;
    text-align: center;
}

.indexPrincipal .formaTrabajar li{
    font-size: 20px;
    margin: 30px;
}


.pasosSeguir{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
}

.pasosSeguir h3{
    flex-direction: row;
    text-align: end;
    }
.pasosSeguir li{
    width: 100%;
    margin: 10px;
    font-size: 16px;
    font-family: "Figtree", sans-serif;
}

.pasosSeguir .img1{
     width: 250px;
     height: min-content;
     border-radius: 30px;
     
}
.pasosSeguir .img2{
    width: 300px;
    height: min-content;
    border-radius: 30px;
}

.pasosSeguir .hola{
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    background-color: rgb(227, 54, 54);
}

.clientes{
    margin-top: 110px;
}

.clientes h3{
    text-transform: uppercase;
    color: blue;
}

.clientes p{
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    border-style: double;
    border-color: rgb(208, 61, 61);
}



@media (max-width:1024px) {
   header h1{
    text-align: center;
    background-position: center;
    font-size: 20 px;

    }
}

@media (max-width: 768px){
    header h1{
        background-position: right;
        font-size: 24px;
    }
    header h2{
        font-size: 20px;
    }
    .barraNavegacion li a { 
    background-color: red;
    color: white;
    gap: 20px;
}

}

@media(max-width:425px){
    header{
        position: initial;
        
    }

    .indexPrincipal{
        display: flex;
        flex-direction: column
    }



    .barraNavegacion{
        flex-direction: column;
        padding-right: none; 
        align-items: center;
       }
       .barraNavegacion li a {
        font-size: 20px;
       }
       .preguntasTrivia label{
        display: flex;
        flex-direction: row;
       }

       .datosContacto{
        
        flex-direction: column;
        padding-right: none; 
        align-items: left;
       }
       
}