@media (max-width: 768px){

    header h1{
        background-position: right;
        font-size: 30px;
    }
    header h2{
        font-size: 20px;
    }
    .navBar li a { 
    background-color: red;
    color: white;
    gap: 20px;
    }
    .main-index{
    margin-bottom: 10px;
    }
    

    nav .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    nav .navBar{
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
    }
    nav label{
        display: inline-flex;
        color: black;
    }
    nav #toogle:checked ~ .menu{
        height: 100%;
    }
.img5{
    display: none;
}

.img2-0{
    display: none;
}

.info{
    @include flex(column,flex-start,none, 40px);
    width: 100%;
    height: 100vh;
    font-size: map-get($fuentes , m );
    font-family: "Figtree", sans-serif;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}
}







