.preguntasFrecuentes{
    h3{
    background-color: lightblue;
    margin-bottom: 20px;
    margin-top: 1.875rem;
    font-family: "Figtree", sans-serif;
    font-weight: 700;
    }
    p{
    background-color: rgb(247, 238, 238);
    font-family: "Figtree", sans-serif;
    font-weight: 200;
    }
    }