
.infoTrivia{
    font-size: map-get($fuentes , l );
    text-transform: none;
    color:map-get($color , color4 );
}
h4{
    color: $color-principal;
    text-transform: capitalize;
}

.preguntasTrivia {
    color:rgb(32, 32, 120);
    text-transform: uppercase;
    font-family: "Figtree", sans-serif;
    margin: 20px;
    font-size: 20px;
    label{
        text-transform: capitalize;
        color: map-get($color , color4 );
        font-size: map-get($fuentes , s );
    }
    p{
 margin-top: 16px;
margin-bottom:16px;
    }
}
.enviar{
    border-color: rgba(255, 0, 0, 0.749);
    background-color:rgba(255, 0, 0, 0.749) ;
    text-transform: uppercase;
    border-width: 20px;
    border-radius: 16px;
    margin-top: 20px;
    
}