* {padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

header{
    background-image: linear-gradient(to right, #f70808, #ff584a, #ff877f, #fcb2af, #ebdbdb);
    width: 100%;
    position: sticky;
    top: 0;
    font-family: "Figtree", sans-serif;
    .titulo{
        @include flex(row,none,center,20px);
        text-align: center;
     }
     img{
        width: 100px;
        border-radius: 40px;
    }
    h1{
    color: map-get($color , color1 );
    text-align: center;
    text-transform: capitalize;
}
    h2{
        color:map-get($color , color1 );
        text-align: center;
        text-transform: capitalize;
 }
     }
     

main{
    font-family: "Figtree", sans-serif;
    background-color: rgb(247, 238, 238);
}
.fixed a{
    position: fixed;
    right: 20px;
    bottom: 20px;
    }

    .navBar{
        @include flex(row,space-around,center,none);
        background-color: rgb(247, 238, 238);
        color: $color-principal;
        text-transform: uppercase;
        text-align: center;
        list-style: none;
        margin-bottom: 16px;
        li{
            a{
                text-decoration: none;
                color: $color-principal; 
            }
            &:hover{
                color: $color-secundario; 
            }
        }
    }
    .datosContacto{
        @include flex(row,space-around,center,20px);
         background-color: rgb(42, 42, 213);
        color: map-get($color , color1 );
        font-family: "Figtree", sans-serif;
    }

nav #toogle, nav label{
  display: none;
}


    .tracking-in-expand-fwd {
        -webkit-animation: tracking-in-expand-fwd 1000ms ease-in-out 100ms both;
         animation: tracking-in-expand-fwd 1000ms ease-in-out 100ms both;
        text-transform: uppercase;
        text-align: center;
        margin-top: 10px;
        color: $color-principal; 
        font-family: "Figtree", sans-serif;          
    }

 @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  